* {
  box-sizing: border-box;

  font-family: system-ui, -apple-system, BlinkMacSystemFont,
   'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
   'Open Sans', 'Helvetica Neue', sans-serif;
  
  padding: 0;
  margin: 0;
}

/* GENERAL FORMAT, THIS CAN BE SIMPLIFIED BY 
ABSTRACTION OF FOOTER,MAIN,HEADER 
    good for formatting
*/
/* .flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;  
  font-size: 30px;
  flex: 33.3%;
} */

/* On screens that are 600px wide or less,
 make the columns stack on top of each other 
 instead of next to each other */
/* @media (max-width: 600px) {
  .flex-item {
    flex: 100%;
  } */

/* Assignment starts here */
.hero-container, .footer-container, .header-container{
  background-color: #1F2937;
}
.hero-text p{
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
}
.hero-text sub, .navbar ul{
  font-size: 18px;
  color: #E5E7EB;
}
.hero-image{
  font-size: 24px;
  color: #F9FAF8;
}
button, .CTA-container{
  background-color: #3882F6;
}
.info-container h2{
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
}
.quote-container{
  background-color: #e5e7eb;
}
.quote-text{
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
}
/* end of imported assignment values */

/* lets flex */
/* this is the main body */
.container{
  display: flex;
  flex-direction: column;

  /* this pushes all content away from the walls */
  padding: 30px;
}
.header-container{
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  align-items: center;
  /* outline: 12px solid green; */
  color: #E5E7EB;
  
}
.header-container .navbar{
  padding: 10px;
  /* outline: 12px solid blue; */
}
.header-container .navbar ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  /* outline: 12px solid red; */
}
ul li{
  padding: 10px;
}

