* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
   'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
   'Open Sans', 'Helvetica Neue', sans-serif;
   padding: 0;
   margin: 0;
}

/* GENERAL FORMAT, THIS CAN BE SIMPLIFIED BY 
ABSTRACTION OF FOOTER,MAIN,HEADER 
    good for formatting
*/
/* .flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;  
  font-size: 30px;
  flex: 33.3%;
} */

/* On screens that are 600px wide or less,
 make the columns stack on top of each other 
 instead of next to each other */
/* @media (max-width: 600px) {
  .flex-item {
    flex: 100%;
  } */




