* {
  box-sizing: border-box;

  font-family: system-ui, -apple-system, BlinkMacSystemFont,
   'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
   'Open Sans', 'Helvetica Neue', sans-serif;
  
  padding: 0;
  margin: 0;
}

/* GENERAL FORMAT, THIS CAN BE SIMPLIFIED BY 
ABSTRACTION OF FOOTER,MAIN,HEADER 
    good for formatting
*/
/* .flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;  
  font-size: 30px;
  flex: 33.3%;
} */

/* On screens that are 600px wide or less,
 make the columns stack on top of each other 
 instead of next to each other */
/* @media (max-width: 600px) {
  .flex-item {
    flex: 100%;
  } */

/* Assignment starts here */
.hero-container, .footer-container, .header-container{
  background-color: #1F2937;
}
.hero-text p{
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
}
.hero-text sub, .navbar ul{
  font-size: 18px;
  color: #E5E7EB;
}
.hero-image{
  font-size: 24px;
  color: #F9FAF8;
}
button, .CTA-info{
  background-color: #3882F6;
}
.info-container h2{
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
}
.quote-container{
  background-color: #e5e7eb;
}
.quote-text{
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
}
/* end of imported assignment values */

/* lets flex 

Notes: outlines are because i didnt want to open DevTools

*/
/* this is the main body */
.container{
  display: flex;
  flex-direction: column;

  /* this pushes all content away from the walls */
  padding: 30px;
}
.header-container{
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  align-items: center;
  /* outline: 12px solid green; */
  color: #E5E7EB;
  
}
.header-container .navbar{
  padding: 10px;
  /* outline: 12px solid blue; */
}
.header-container .navbar ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  /* outline: 12px solid red; */
}
ul li{
  padding: 10px;
}
/* Hero stuff */
.hero-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* outline: 10px solid red; */
  gap: 100px;
}
.hero-text{
  /* outline: 10px solid white; */
  display: flex;
  flex-flow: column wrap;
  gap: 10px;

  justify-content: center;
  
}
.hero-text button{
  height: 10px;
  border-radius: 15px;
  width: 100px;
  height: 32px;
  color: #E5E7EB;

  /* align-items: center; */
}
.hero-image{
  display: flex;
  /* outline: 10px solid blue; */
  align-self: center;
  /* background-color: gray; */
  /* flex: 1 1 auto; */
  padding-bottom: 10px;
}
.hero-image img{
  background-color: gray;
  /* margin: 100px; */
  max-width: 300px;
  flex: 1 1 auto;
}

/* GALLERY */
h2{
  text-align: center;
  /* padding-top: 100px; */
  padding-bottom: 32px;
}
/* gallery box */
.info-container{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 100px
  /* outline: 10px solid green; */
}
.gallery{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* justify-content: space-around; */
  gap: 32px;

  
}
.info-img{
  display: flex;
  flex-flow: column nowrap;
  gap: 32px
}
.info-img img{
  outline: 5px solid lightskyblue;
  width: 300px;
  max-height: 300px;
  object-fit: cover;
}
.info-img p{
  /* align-items: center; */
  text-align: center;
}
/* Quote */
.quote-container{
  display: flex;
  padding: 150px;
  flex-flow: column wrap;
  
  
}
.quote-text{
  display: flex;
  width: 1000px;
  /* justify-content: center; */
  margin:0 auto;
}
.quote-author{
  display: flex;
  justify-content: center;
  /* padding: 100px */
}
.quote-author strong{
  /* outline: 1px solid blue; */
  /* margin: 100px */
  margin-left: 500px;
}

/* CTA */
.CTA-container{
  /* outline: 10px solid green; */
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding: 100px 700px;
  color: #F9FAF8;
}
.cta-parent{
  display: flex;
  /* outline: 10px solid red; */
  border-radius: 10px;
  background-color: #3882F6;
  
  
  gap: 1000px;
  /* padding: 30px 700px 30px 700px; */
  padding: 100px 300px;
  /* color: #F9FAF8; */
  /* justify-content: center; */

}
.CTA-info{
  /* outline: 10px solid black; */
  /* display: flex; */
  /* flex-direction: row wrap; */
  width: 1000px;
  height: 100px;
}
.CTA-button{
  display: flex;
  /* outline: 10px solid black; */
  height: 100px;
  width: 300px;
}
.CTA-button button{
  width: inherit;
  border-radius: 30px;
  color: #F9FAF8;
}

/* Footer */
.footer-container{
  display: flex;
  padding: 32px;
  color: #F9FAF8;
  justify-content: center;
}


